body {
  font-family: "Times New Roman", Times, serif, Weibei SC;
}
#main-header {
  color: white;
  background-color: black;
  width: 85%;
  height: 200px;
  line-height: 200px;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  text-align: center;
  font-size: 26px;
}
#navbar ul {
  padding: 0;
  list-style: none;
  font-size: 20px;
  text-align: center;
}
#navbar li {
  display: inline;
  padding-right: 30px;
  padding-left: 30px;
}
#navbar a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
#navbar a:hover {
  color: darkgoldenrod;
  background-color: black;
  border-radius: 8px;
}

a {
  color: black;
}
a:visited {
  color: black;
}
.side-nav {
  list-style: none;
  right: 0;
  bottom: 2cm;
  text-align: left;
  position: fixed;
}
.side-nav a:hover {
  background-color: black;
  border-radius: 2px;
}
#meat a:hover {
  color: darkgoldenrod;
}
#vege a:hover {
  color: forestgreen;
}
#dessert a:hover {
  color: pink;
}
#riceandnoodles a:hover {
  color: wheat;
}
h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
hr {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  border-radius: 8px;
  background-color: black;
  border-style: hidden;
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
}
.foodpics {
  position: relative;
  display: inline-block;
}
.foodpics-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.foodpics:hover .foodpics-top {
  display: inline;
}

footer {
  text-align: center;
}

.row {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 250px;
  padding: 10px 50px;
}

.column {
  text-align: center;
  float: left;
  width: 33.3%;
  margin: 20px 0px;
}

/* above is meat menu */
